


<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ludere - Jugando a aprender</title>
            <%= stylesheet_link_tag    "application", :media => "all" %>
            <%= javascript_include_tag "application" %>
            <%= csrf_meta_tags %><script type="text/javascript" src="https://kit.glyphs.co/3ee018.js"></script>

    </head>
   <body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home\index">Ludere</a>
        <ul class="user-menu">
          <li class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Juan Manuel / Iniciar sesión<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Mi Perfil</a></li>
              <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Mensajes</a></li>
              <li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
              
    </div><!-- /.container-fluid -->
  </nav>
  <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    
    <ul class="nav menu">
      <li class="active"><a href="/misions"><svg class="glyph signia rocket"><use xlink:href="#signia-rocket"/></svg></use> Explorar misiones</a></li>
      <li><a href="widgets.html"><svg class="glyph signia bulleted list"><use xlink:href="#signia-bulleted-list"/></svg></use>Mis misiones</a></li>
      <li><a href="charts.html"><svg class="glyph signia social networks"><use xlink:href="#signia-social-networks"/></svg>Mis grupos</a></li>
      <li><a href="tables.html"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg>Mis logros</a></li><br>
  
        
    </ul></use>
</use>
    <div class="attribution"></div></use>
    <ul class="nav menu">
     <li> <a href="widgets.html"><svg class="glyph signia facebook"><use xlink:href="#signia-facebook"/></svg>Facebook</a></use></svg></a></li>
     <li><a href=""><svg class="glyph signia twitter"><use xlink:href="#signia-twitter"/></svg></use>Twitter</a></svg></a></li>
     <li><a href=""><svg class="glyph social youtube"><use xlink:href="#social-youtube"/></svg></use>Youtube</a></svg></a></li>
     <li><a href=""><svg class="glyph signia pinterest "><use xlink:href="#signia-pinterest"/></svg></use>Pinterest</a></svg></a></li>
     <li><a href=""><svg class="glyph signia instagram"><use xlink:href="#signia-instagram"></use></svg>Instagram</a></li></ul>
</li>

    </div>
  </div><!--/.sidebar-->

  <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">     
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">LUDERE</li>
      </ol>
    </div><!--/.row-->
  <%= yield %>
     
       
        </div>
                
      </div><!--/.col-->
    </div><!--/.row-->
  </div>  <!--/.main-->

  <script>
    
    $(window).on('resize', function () {
      if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
      if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
  </script> 
</body>

</html>